# Ignore Python byte code
#########################
__pycache__/
*.pyc

# Ignore system files and directories
#####################################
.vscode
.DS_Store

# Ignore build directories
##########################
bin/
build/
lib/
*.egg-info/
dist/

# Ignore documentation website
docs/build/html

# Ignore data files in the top-level directory
##############################################
/*.sh
/*.bed

# Ignore results and input files
################################
*.tsv
*.bam*
*.vcf*
*.out
*.txt
